// Custom styles.
// 鼠标样式
  * {
      cursor: url("https://wanglei1991-1251696166.cos.ap-guangzhou.myqcloud.com/blog/mlvjc.png"),auto!important
  }
  :active {
      cursor: url("https://wanglei1991-1251696166.cos.ap-guangzhou.myqcloud.com/blog/969nc.png"),auto!important
  }
